<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bethelpertrial.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bethelpertrial.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bethelpertrial</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$bethelpertrial</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BetHelperDb" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mxhzkb4fxq.database.windows.net,1433;Initial Catalog=BetHelperDB;User ID=kirkora78@mxhzkb4fxq;Password=$Blink185" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BetHelper.Data.BetHelperContext, BetHelper.Data" MigrationConfiguration="BetHelper.Data.Migrations.Configuration, BetHelper.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsDashboard" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=betehelperstorage;AccountKey=f/PFI9LCe+OAiCZBi2wrGc//boQgB8xjSu28BNl1wPxSB0s++k/i2nF9ZklqnbjZ6Zy4/zo61GqNzkd82s3ZJQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsDashboard_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=betehelperstorage;AccountKey=f/PFI9LCe+OAiCZBi2wrGc//boQgB8xjSu28BNl1wPxSB0s++k/i2nF9ZklqnbjZ6Zy4/zo61GqNzkd82s3ZJQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsStorage" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=betehelperstorage;AccountKey=f/PFI9LCe+OAiCZBi2wrGc//boQgB8xjSu28BNl1wPxSB0s++k/i2nF9ZklqnbjZ6Zy4/zo61GqNzkd82s3ZJQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=betehelperstorage;AccountKey=f/PFI9LCe+OAiCZBi2wrGc//boQgB8xjSu28BNl1wPxSB0s++k/i2nF9ZklqnbjZ6Zy4/zo61GqNzkd82s3ZJQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsDashboard-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsStorage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BetHelperDb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mxhzkb4fxq.database.windows.net,1433;Initial Catalog=BetHelperDB;User ID=kirkora78@mxhzkb4fxq;Password=$Blink185</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>